# Created by https://www.toptal.com/developers/gitignore/api/java
# Edit at https://www.toptal.com/developers/gitignore?templates=java

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# End of https://www.toptal.com/developers/gitignore/api/java
/Exercicio2/target/
/Exercicio3/target/
/Exercicio4/target/
/Exercicio5/target/
/Exercicio6/target/
/Exercicio7/target/
/Exercicio8/target/
/Exercicio9/target/
/Exercicio10/target/
/Exercicio11/target/
/Exercicio12/target/
/Exercicio13/target/
/Exercicio14/target/
/Exercicio15/target/
/Exercicio16/target/
/Exercicio17/target/
/Exercicio18/target/
/Exercico19/target/
/Exercicio20/target/
/Exercicio21/target/
/Exercicio22/target/
/Exercicio23/target/
/Exercicio24/target/
/Exercicio25/target/
/Exercicio26/target/
